# ==========================================
# 1. 过滤 Keil MDK 编译产生的庞大垃圾文件
# ==========================================
*.uvguix.*
*.uv2.bak
*.pco
*.bak
*.dep
*.pyc
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.map
*.lst
JLinkLog.txt
Listings/
Objects/

# ==========================================
# 2. 如果你以后用 CMake / GCC 编译，过滤这些
# ==========================================
[bB]uild/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.elf
*.bin
*.hex

# ==========================================
# 3. 过滤代码编辑器和本地缓存
# ==========================================
.vscode/.browse.VC.db
.vscode/.cmaketools/
.vscode/.clangd/
.vscode/ipch/
.clangd/
.cache/
.DS_Store
Thumbs.db